{% extends "layout.html" %}

{% block content %}
<div  id="days_row" class="row">
    <div class ="col-lg-3 day-btns">
        <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-default">Day 1</button>
            <button type="button" class="btn btn-default">Day 2</button>
            <button type="button" class="btn btn-default">Day 3</button>
            <button type="button" id="add-day-btn" class="btn btn-default">+</button>
        </div>
    </div>
    <div class="col-lg-1"></div>

    <div class="col-lg-2">
        <div class="row">
            <h3 class="">Hotels</h3>
        </div>
        <div class="row">
            <select class="form-control col-lg-1 dropdown-selector" id="hotel-select"></select>
            <button type="button" class="btn btn-primary btn-sm col-lg-1 dropdown-submit" id="add-hotel">Add</button>
        </div>
    </div>

    <div class="col-lg-1"></div>

    <div class="col-lg-2">
        <div class="row">
            <h3 class="">Things to do</h3>
        </div>
       <div class="row">
            <select class="form-control col-lg-1 dropdown-selector" id="thing-select"></select>
            <button type="button" class="btn btn-primary btn-sm col-lg-1 dropdown-submit" id="add-thing">Add</button>
        </div>
    </div>

    <div class="col-lg-1"></div>

    <div class="col-lg-2">
        <div class="row">
            <h3 class="">Restaurants</h3>
        </div>
        <div class="row">
            <select class="form-control col-lg-1 dropdown-selector" id="restaurant-select"></select>
            <button type="button" class="btn btn-primary btn-sm col-lg-1 dropdown-submit" id="add-restaurant">Add</button>
        </div>
    </div>

</div>

<div class="row spacer-row"></div>

<div class="row" >
    <div class="col-lg-3">
        <!-- text stuff -->
        <h3>Plan for Day 1</h3>
        <ul>
            <li>Hotel</li>
            <ul id="hotels-ul">
            </ul>
            <li>Things to Do</li>
                <ul id="things-ul">
                </ul>
            <li>Restaurants</li>
                <ul id="restaurants-ul">
                </ul>
        </ul>
    </div>
    <div class="col-lg-9 map-col">
        <div id="map-canvas" style="width: 100%; height: 100%"></div>
    </div>
</div>
<script>
    {% autoescape false %}
    var all_hotels = {{ hotels | json }};
    var all_restaurants = {{ restaurants | json }};
    var all_things_to_do = {{ thingsToDos | json }};
    {% endautoescape %}
</script>
<script src="/javascripts/initialize.js"></script>
{% endblock %}
